main {
  text-align: center; 
  margin: auto;
}

header {
  padding-top: 2rem;
  color: #343834;
  font-size: 1rem;  
  text-align: center;
}

h1 {
  font-family: 'Trirong', serif;
  text-transform: uppercase; 
  color: #000;
  line-height: 30%;
  padding: 2rem 0 1rem 0;
  letter-spacing: 0.3125rem; 
  height: 0.7rem;
  border-bottom: 0.4rem solid white;
  border-top: 0.2rem solid white;
}

nav {
  width: 100%;
  text-align: center;
}

nav a {
  color: #6B6457;
}

nav ul {
  display: flex;
  list-style-type: none;
  padding: 0.5rem 2rem 0.7rem 2rem;
  justify-content: space-around;
}

nav li {
  font-size: 1.1rem;
  display: inline;
}


.gradient {
  height: 100%;
  background-color: gray; /*For browsers that don't allow for a gradient*/
  background-image: -webkit-gradient(linear, center top, center bottom, from(#B6B9B8), to (#fff));
  background-image: -webkit-linear-gradient(top, #B6B9B8, #fff);
  background-image: -moz-linear-gradient(top, #B6B9B8, #fff);
  background-image: -o-linear-gradient(top, #B6B9B8, #fff);
  background-image: -ms-linear-gradient(top, #B6B9B8, #fff);
  background-image: linear-gradient(to bottom, #B6B9B8, #fff);
} 

a {
  text-decoration: none;
  color: #6B6457;
  letter-spacing: .15rem;
  font-size: 1.2rem;
}

h2 {
  font-family: 'Trirong', serif;
  color: #404540;
  text-align: center;
  padding: 1rem;
  margin: auto;
  font-weight: 400;
}

p {
  font-family: 'PT Serif', serif;
  color: #404540;
  text-align: center;
  padding: 1rem 22rem 1rem 22rem;
  margin: auto;
}

h3 {
  font-size: 0.8rem;
  text-align: center;
  color: #998F7C;
}

h4 {
  font-family: 'Trirong', serif;
  color: #404540;
  text-align: center;
  padding: 1rem;
  margin: auto;
}

h5 {
  color: #BF9D7E;
}
address {
  padding: 0.5rem;
}

.lulea {
  font-size: inherit;
}

img {
  display: inline;
  width: 30rem;
  height: auto;
  padding-top: 0.5rem; 
  padding-bottom: 2rem;
}

footer {
  text-align: center;
  margin: auto;
  border-style: solid;
  border-color: #BF9D7E;
  line-height: 0.3rem;
  width: 10rem;
  font-size: 0.7rem;
  padding-bottom: 1rem;
}